body {

}

.navbar-brand {
    padding-right: 20em;
}

.nav-item {
    padding-right: 2rem;
}

h2 {
    text-decoration: underline;
    text-underline-position: under;
}

#header {
    background-image: url("../images/Climbing.JPG");
    background-size: cover;
    background-position: center;
    color: azure;
    text-shadow: 2px 2px 5px black;
    opacity: 0.8;
}

