
/* nav styling start */
.navbar-brand {
    padding-right: 13em;
}

.nav-item {
    padding-right: 2rem;
}
/* nav styling end */

/* hero banner start */
.jumbotron {
    background-image: url("../images/Climbing.JPG");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 100px);
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
    opacity: 0.8;
}
/* hero banner end */

h2,
h4 {
    font-size: 2em;
    min-width: 5em;
    text-decoration: underline;
    text-underline-position: under;
    color: gray;
}




/* Card Styling Start */

.card-body {
    background-color: black;
    opacity: .7;
    border-radius: 0em 0em 1em 1em;
}

.card-title,
.card-text {
    color: whitesmoke;

}

.card {
    background-image: url(../images/placeholder.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1em;
    margin-bottom: 2em;
    border-radius: 1em;
    box-shadow: 5px 5px 10px gray;

}

.card:hover {
    opacity: 0.8;
}

/* Remove buttons from cards */
.cardContainer .btn {
    opacity: 0;
}


#horiseon {
    background-image: url(../images/stuart540.github.io_code-refactor-horiseon_-min.png);
}

img {
    opacity: 0;
}

/* Card Styling End */

/* Footer Styling  Start */

.icon-links {
    display: flex;
    justify-content:space-around;
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/* icon styling */

i {
    color: gray;
    font-size: 3em;
}

i:hover {
    color: black;
}
/* Footer Styling End */